{
    "parserOptions": {
        "ecmaVersion": 8
    },
    "env": {
        "es6": true
    },
    "extends": "eslint:recommended",
    "globals": {
        "window" : true,
        "document" : true,
        "$" : true,
        "console" : true
    },
    "plugins": [
    ],
    "rules": {
        "no-console": "off"
    }
}