@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 24px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background: url('../img/main/bg.jpg') repeat-y top
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
	ul
		padding-left: 0
		list-style-type: none

header
	height: 100px
	ul
		margin-top: 30px
	a
		text-transform: uppercase
		font-size: 18px
		color: $text
		margin-right: 63px
		letter-spacing: 2px
		opacity: .7
	a:hover
		text-decoration: none
		color: $text
		opacity: 1

hgroup
	margin-top: 230px
	h1
		font-family: "Futura PT"
		font-size: 80px
		text-indent: -8px
		letter-spacing: 1px
		font-weight: 500
	h2
		margin-top: -28px
		font-size: 33px
		letter-spacing: 1px

section#main
	img
		position: absolute
		z-index: -10
	.arrows
		top: 135px
		right: -62px
	.photo
		top: -70px
		right: 25px
		z-index: -1

section#about
	height: 630px
	margin-top: 297px
	padding: 65px 20px 0 65px
	background: url('../img/main/bg-block.jpg') repeat-y top
	box-shadow: 5px 5px 20px black
	h4
		width: 100%
		color: #a2e22c
		font-family: "Futura PT"
		font-size: 33px
		letter-spacing: .7px
		text-transform: uppercase
	p
		margin-top: -10px
		font-size: 33px
		line-height: 40px
		letter-spacing: 0.82px

.slashes
	margin: -460px 0 0 -1320px
	letter-spacing: 23px
	line-height: 58px
	opacity: .1

section#skills
	margin-top: 115px
	picture:last-child
		margin-top: -10px

h3
	transform: rotate(90deg)
	margin: 155px 660px
	font-size: 1em
	letter-spacing: 2px
	text-transform: uppercase

section#portfolio
	ul
		margin-top: 70px
		li a
			font-family: "Futura PT"
			font-size: 33px
			line-height: 123px
			text-transform: uppercase
			letter-spacing: 1.65px
			color: #a2e22c
	.slashes
		@extend .slashes
		margin: -185px 0 0 -150px

section#order
	h3
		@extend h3
		margin: 100px 660px
	.slashes
		@extend .slashes
		margin: -145px 0 0 -150px
	form
		height: 600px
		width: 920px
		margin: -75px auto
		padding: 0 70px
		background: url('../img/main/bg-block.jpg') repeat-y top
		box-shadow: 5px 5px 20px black
		input:not([type="submit"])
			height: 120px
			width: 780px
			padding-top: 55px
			font-size: 32px
			color: $accent
			background-color: transparent
			transition: all .5s ease
			border: 1px solid transparent
			border-bottom: 1px solid grey
			opacity: .5
		input::placeholder
		input.error
			border: 1px solid #ff0000
		input#submit
			margin-top: 33px
			float: right
			color: #a2e22c
			font-family: "Futura PT"
			font-size: 33px
			letter-spacing: 1.65px
			text-transform: uppercase
			background-color: transparent
			border: 0
		input#submit:hover
			text-decoration: underline

footer
	padding-top: 168px
	letter-spacing: 0.6px
	ul
		width: 180px
		margin-top: -5px
		img
			transition: all .2s ease
			opacity: 0.8
		img:hover
			opacity: 1



@import "media" // Always at the end
