@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background: url('../img/main/bg.jpg') repeat-y top
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
	ul
		padding-left: 0
		list-style-type: none

.clearfix:after
	content: ""
	display: table
	clear: both

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

header ul
	margin-top: 46px
	a
		text-transform: uppercase
		font-size: 14px
		color: $text
		margin-right: 63px
		letter-spacing: 2px
		text-decoration: none
		opacity: .7
	a:hover
		opacity: 1

hgroup
	margin-top: 250px
	h1
		font-family: "Futura PT"
		font-size: 80px
		text-indent: -5px
		letter-spacing: -1px
	h2
		margin-top: -28px
		font-size: 33px
		letter-spacing: 1px

#photo-block
	&>img
		position: absolute
		z-index: -10
	.arrowLeft, .arrowRight
		top: 210px
	.arrowLeft
		right: 437px
	.arrowRight
		right: -25px
	.photo
		top: -50px
		right: 25px
		z-index: -1

#about-block
	height: 630px
	margin-top: 297px
	padding: 65px 20px 0 65px
	background: url('../img/main/bg-about-block.jpg') repeat-y top
	h4
		width: 100%
		color: #a2e22c
		font-family: "Futura PT"
		font-size: 33px
		letter-spacing: .7px
		text-transform: uppercase
	p
		margin-top: -10px
		font-size: 33px
		line-height: 40px
		letter-spacing: 0.82px

.slashes
	margin: -457px 0 0 -1310px
	font-size: 25px
	letter-spacing: 23px
	line-height: 58px
	opacity: .1

.skills
	margin-top: 125px

h3
	transform: rotate(90deg)
	font-size: 24px
	margin: 140px 655px
	letter-spacing: 2px
	text-transform: uppercase

#portfolio-block
	ul
		margin-top: 75px
		li a
			font-family: "Futura PT"
			font-size: 33px
			line-height: 123px
			text-transform: uppercase
			letter-spacing: 1.65px
			color: #a2e22c
	.slashes
		@extend .slashes
		margin: -185px 0 0 -150px

#order-block
	h3
		@extend h3
		margin: 172px 608px
	.slashes
		@extend .slashes
		margin: -275px 0 0 -140px

@import "media" // Always at the end
