@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background: url('../img/main/bg.jpg') repeat-y top
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
	ul
		padding-left: 0
		list-style-type: none

header ul
	margin-top: 46px
	a
		text-transform: uppercase
		font-size: 14px
		color: $text
		margin-right: 63px
		letter-spacing: 2px
		opacity: .7
	a:hover
		text-decoration: none
		color: $text
		opacity: 1

hgroup
	margin-top: 250px
	h1
		font-family: "Futura PT"
		font-size: 80px
		text-indent: -5px
		letter-spacing: -1px
	h2
		margin-top: -28px
		font-size: 33px
		letter-spacing: 1px

section#main
	img
		position: absolute
		z-index: -10
	.arrowLeft, .arrowRight
		top: 210px
	.arrowLeft
		right: 437px
	.arrowRight
		right: -25px
	.photo
		top: -50px
		right: 25px
		z-index: -1

section#about
	height: 630px
	margin-top: 297px
	padding: 65px 20px 0 65px
	background: url('../img/main/bg-block.jpg') repeat-y top
	h4
		width: 100%
		color: #a2e22c
		font-family: "Futura PT"
		font-size: 33px
		letter-spacing: .7px
		text-transform: uppercase
	p
		margin-top: -10px
		font-size: 33px
		line-height: 40px
		letter-spacing: 0.82px

.slashes
	margin: -457px 0 0 -1310px
	font-size: 25px
	letter-spacing: 23px
	line-height: 58px
	opacity: .1

section#skills
	margin-top: 125px
	picture:last-child
		margin-top: -10px

h3
	transform: rotate(90deg)
	font-size: 24px
	margin: 150px 660px
	letter-spacing: 2px
	text-transform: uppercase

section#portfolio
	ul
		margin-top: 65px
		li a
			font-family: "Futura PT"
			font-size: 33px
			line-height: 123px
			text-transform: uppercase
			letter-spacing: 1.65px
			color: #a2e22c
	.slashes
		@extend .slashes
		margin: -185px 0 0 -150px

section#order
	h3
		@extend h3
		margin: 106px 660px
	.slashes
		@extend .slashes
		margin: -145px 0 0 -150px
	form
		height: 600px
		width: 785px
		margin: -65px auto
		background: url('../img/main/bg-block.jpg') repeat-y top
		input:not([type="submit"])
			width: 780px
			padding: 59px 0 14px 0
			font-size: 24px
			background-color: transparent
			box-sizing: border-box 
			transition: all .5s ease
			border: 1px solid transparent
			border-bottom: 1px solid grey
			opacity: .5
		input.error
			border: 1px solid #ff0000
		input#submit
			margin-top: 33px
			float: right
			color: #a2e22c
			font-family: "Futura PT"
			font-size: 33px
			letter-spacing: 1.65px
			text-transform: uppercase
			background-color: transparent
			border: 0
		input#submit:hover
			text-decoration: underline

footer
	padding-top: 145px
	font-size: 24px
	letter-spacing: 0.6px
	ul
		width: 157px
		margin-top: -5px
		img
			transition: all .2s ease
			opacity: 0.8
		img:hover
			opacity: 1



@import "media" // Always at the end
